<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <import resource="applicationContext-mybatis.xml"/>
    <import resource="applicationContext-redis.xml"/>
    <import resource="applicationContext-socketio.xml"/>
    <import resource="application-mail.xml"/>
    <import resource="application-sms.xml"/>
    <context:component-scan base-package="com.dfire.grade.manager"/>
    <!--让web.xml的welcome起作用-->
    <mvc:default-servlet-handler/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <context:annotation-config/>
    <mvc:annotation-driven/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/class/*"/>
            <mvc:mapping path="/grade/*"/>
            <mvc:mapping path="/answer/*"/>
            <mvc:mapping path="/job/*"/>
            <mvc:mapping path="/student/*"/>
            <mvc:mapping path="teacher/*"/>
            <!--<mvc:mapping path="/sms/*"/>-->
            <mvc:mapping path="/email/*"/>
            <bean class="com.dfire.grade.manager.intercepter.SecurityIntercept"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!--配置资源文件映射 后面的/一定要加-->
    <mvc:resources mapping="/assets/**" location="/assets/"/>
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/fonts/**" location="/fonts/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/img/**" location="/img/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <bean id="JSPviewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--此句有毒-->
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
        <property name="exposeContextBeansAsAttributes" value="true"/>
    </bean>
    <!--<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
        <!--<property name="exceptionMappings">-->
            <!--<props>-->
                <!--<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">errors/500</prop>-->
                <!--<prop key="java.lang.Exception">errors/500</prop>-->
            <!--</props>-->
        <!--</property>-->
        <!--<property name="defaultErrorView" value="errors/500"></property>-->
        <!--<property name="defaultStatusCode" value="500"></property>-->
    <!--</bean>-->
</beans>