<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfire.grade.manager.mapper.ClassesMapper">
    <resultMap id="classesMap" type="com.dfire.grade.manager.bean.Classes">
        <id column="cla_Id" property="classId" jdbcType="VARCHAR"/>
        <result column="name" property="name" javaType="VARCHAR"/>
        <result column="tea_Id" property="teacherId" jdbcType="VARCHAR"/>
        <result column="period" property="period" jdbcType="DOUBLE"/>
        <result column="credit" property="credit" jdbcType="DOUBLE"/>
        <result column="term" property="term" jdbcType="DATE"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="valid" property="valid" jdbcType="FLOAT"/>
    </resultMap>
    <insert id="insertClasses" parameterType="com.dfire.grade.manager.bean.Classes">
        INSERT INTO class (class_id,name,tea_id,period,credit,term,create_time,valid)
        VALUES (
        #{classId},
        #{name},
        #{teacherId},
        #{period},
        #{credit},
        #{term},
        #{createTime},
        #{valid}
        )
    </insert>
    <select id="selectClassById" resultType="classesMap">
        SELECT * FROM class
        WHERE cla_id=#{classId}
    </select>
</mapper>