<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="classMap" type="com.dfire.grade.manager.bean.Class">
        <id column="classId" property="classId" jdbcType="VARCHAR"/>
        <result column="name" property="name" javaType="VARCHAR"/>
        <result column="teacherId" property="teacherId" jdbcType="VARCHAR"/>
        <result column="period" property="period" jdbcType="DOUBLE"/>
        <result column="credit" property="credit" jdbcType="DOUBLE"/>
    </resultMap>
</mapper>