<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfire.grade.manager.mapper.ClassesMapper">
    <resultMap id="classesMapper" type="com.dfire.grade.manager.bean.Classes">
        <id column="cla_Id" property="classId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="tea_Id" property="teacherId" jdbcType="VARCHAR"/>
        <result column="period" property="period" jdbcType="VARCHAR"/>
        <result column="credit" property="credit" jdbcType="DOUBLE"/>
        <result column="term" property="term" jdbcType="DATE"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="isValid" property="valid" jdbcType="BOOLEAN"/>
        <result column="frequency" property="frequency" jdbcType="SMALLINT"/>
        <result column="fre_unit" property="frequencyUnit" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="classDetailMapper" type="com.dfire.grade.manager.bean.ClassDetail" extends="classesMapper">
        <collection property="classDetails">
            <id column="class_detail_id" property="classDetailId" jdbcType="VARCHAR"/>
            <result column="week_day" property="weekDay" jdbcType="SMALLINT"/>
            <result column="part" property="part" jdbcType="SMALLINT"/>
            <result column="create_time" property="createTime" jdbcType="DATE"/>
            <result column="isValid" property="isValid" jdbcType="BOOLEAN"/>
            <result column="term" property="term" jdbcType="DATE"/>
        </collection>
    </resultMap>

    <sql id="selectColumn">
        SELECT cla_id,name,period,credit,frequency,fre_unit FROM class
    </sql>
    <sql id="selectClassDetailColumn">
        SELECT class_detail_id,week_day,part,term FROM class_detail
    </sql>
    <insert id="addClass" parameterType="com.dfire.grade.manager.bean.Classes">
        INSERT INTO class (cla_id,name,tea_id,period,credit,create_time,isvalid,frequency,fre_unit)
        VALUES(
            #{classId,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{teacherId,jdbcType=VARCHAR},
            #{period,jdbcType=DOUBLE},
            #{credit,jdbcType=DOUBLE},
            #{createTime,jdbcType=DATE},
            #{valid,jdbcType=TINYINT},
            #{frequency,jdbcType=SMALLINT},
            #{frequencyUnit,jdbcType=VARCHAR}
            )
    </insert>
    <insert id="addClassDetailsBath" parameterType="java.util.List">
        INSERT INTO class_detail (class_detail_id,week_day,part,class_id,create_time,isvalid,term)
        VALUES
        <foreach collection="list" item="classDetail" separator=",">
            (
            #{classDetail.classDetailId},
            #{classDetail.weekDay},
            #{classDetail.part},
            #{classDetail.classId},
            #{classDetail.createTime},
            #{classDetail.isValid},
            #{classDetail.term}
            )
        </foreach>
    </insert>
    <select id="selectClassById" resultMap="classesMapper" parameterType="String">
        <include refid="selectColumn"/>
        WHERE cla_id=#{classId}
        AND isvalid='1'
    </select>
    <select id="selectClassByTeacherId" resultMap="classesMapper" parameterType="String">
        <include refid="selectColumn"/>
        WHERE teacher_id=#{teacherId}
        AND isvalid='1'
        ORDER BY createTime
    </select>
    <delete id="deleteClassByID" parameterType="String">
        update class_detail
        where class
        update class
        set isValid = '0'
        where cla_id = #{classId}
    </delete>
</mapper>