<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfire.grade.manager.mapper.GradeMapper">
    <resultMap id="gradeMapper" type="com.dfire.grade.manager.bean.Grade">
        <id column="gra_id" property="gradeId" jdbcType="VARCHAR"/>
        <result column="stu_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="cla_id" property="classId" jdbcType="VARCHAR"/>
        <result column="tea_id" property="teacherId" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="DOUBLE"/>
        <result column="job_id" property="jobId" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="SMALLINT"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
    </resultMap>
    <sql id="selectColumn">
        SELECT gra_id,stu_id,cla_id,tea_id,grade,job_id,type
        FROM grade
    </sql>
    <insert id="insertGrade" parameterType="com.dfire.grade.manager.bean.Grade">
        INSERT INTO grade(gra_id,stu_id,cla_id,tea_id,grade,job_id,type,create_time,valid)
        VALUES (
        #{gradeId},
        #{studentId},
        #{classId},
        #{teacherId},
        #{grade},
        #{jobId},
        #{type},
        #{createTime},
        #{valid}
        )
    </insert>
    <select id="selectGradeById" parameterType="String" resultMap="gradeMapper">
        <include refid="selectColumn"/>
        WHERE gra_id = #{gradeId}
        AND valid = '1'
    </select>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO grade(gra_id,stu_id,cla_id,tea_id,grade,job_id,type,create_time,valid)
        VALUES
        <foreach collection="list" item="grade" separator=",">
            (
            #{gradeId},
            #{studentId},
            #{classId},
            #{teacherId},
            #{grade},
            #{jobId},
            #{type},
            #{createTime},
            #{valid}
            )
        </foreach>
    </insert>
</mapper>