<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfire.grade.manager.mapper.JobMapper">
    <resultMap id="jobMapper" type="com.dfire.grade.manager.bean.Job">
        <id column="job_id" property="jobId" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="tea_id" property="teacherId" jdbcType="VARCHAR"/>
        <result column="cla_id" property="classId" jdbcType="VARCHAR"/>
        <result column="answer" property="answer" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="type" property="type" jdbcType="SMALLINT"/>
        <result column="valid" property="valid" jdbcType="FLOAT"/>
    </resultMap>
    <insert id="createJob" parameterType="com.dfire.grade.manager.bean.Job">
        INSERT INTO job(job_id,name,detail,tea_id,cla_id,is_need_answer,create_time,type,valid)
        VALUES (
        #{jobId},
        #{name},
        #{detail},
        #{teacherId},
        #{classId},
        #{isAnswer},
        #{createTime},
        #{type},
        #{valid}
        )
    </insert>
    <sql id="selectColumn">
        SELECT job_id,name,detail,tea_id,cla_id,create_time,type,valid
        FROM job
    </sql>
    <select id="selectJob" parameterType="java.util.Map" resultMap="jobMapper">
        <include refid="selectColumn"/>
        <where>
            valid = 1
            <if test="teacherId !=null">AND tea_id = #{teacherId}</if>
            <if test="classId !=null">AND cla_id = #{classId}</if>
            <if test="jobId !=null">AND job_id = #{jobId}</if>
            <if test="isAnswer !=null">AND is_need_answer = #{isAnswer}</if>
        </where>
    </select>
    <update id="updateJod" parameterType="com.dfire.grade.manager.bean.Job">
        UPDATE job
        SET
        <if test="name !=null">name = #{name}</if>
        <if test="detail !=null">,detail = #{detail}</if>
        <if test="classId !=null">,cla_id = #{classId}</if>
        <if test="isAnswer !=null and (isAnswer == 1 || isAnswer == 0)">,is_need_answer = #{isAnswer}</if>
        <if test="type !=null">,type = #{type}</if>
        WHERE job_id = #{jobId}
    </update>
    <delete id="deleteJod" parameterType="String">
        UPDATE FROM job
        set valid = 0
        WHERE job_id = #{jobId}
    </delete>
</mapper>