<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfire.grade.manager.mapper.StudentMapper">
    <resultMap id="studentMapper" type="com.dfire.grade.manager.bean.Student">
        <id column="stu_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="valid" property="valid" jdbcType="FLOAT"/>
        <result column="joinTime" property="joinTime" jdbcType="DATE"/>
        <result column="passWord" property="passWord" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryStudentById" resultMap="studentMapper" parameterType="String">
              select stu_id,stu_name,email,mobile,school,pass_word,join_time,valid
              from students
              WHERE id=#{studentId}
       </select>

    <insert id="insertStudent" parameterType="com.dfire.grade.manager.bean.Student">
              INSERT INTO student (stu_id,name,email,mobile,pass_word,school,join_time,valid)
              VALUES (
              #{studentId},
              #{name},
              #{email},
              #{mobile},
              #{passWord},
              #{school},
              #{passWord},
              #{valid}
              )
       </insert>
    <delete id="deleteStudentById" parameterType="String">
        DELETE FROM student
        WHERE stu_id=#{studentId}

    </delete>
</mapper>