<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="teacherMapper" type="com.dfire.grade.manager.bean.Teacher">
        <id column="tea_id" property="teacherId" jdbcType=""/>
        <result column="name" property="name" javaType=""/>
        <result column="mobile" property="mobile" jdbcType=""/>
        <result column="email" property="email" javaType=""/>
        <result column="pass_word" property="passWord" jdbcType=""/>
        <result column="school" property="school" javaType=""/>
        <result column="join_time" property="joinTime" jdbcType=""/>
        <result column="valid" property="valid" javaType=""/>
    </resultMap>
</mapper>